.create {
  background: #fff;
  color: #000;
  flex-grow: 1;
  width: 100%;
  padding: 1.5em 1.2em;
  @include flex(column, nowrap, space-between, center, 0);
  &__div {
    width: 100%;
    max-width: 400px;
    @include flex(column, nowrap, flex-start, flex-start, 2em);
  }
  &__title {
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
  }
  &__inputs {
    width: 100%;
    @include flex(column, nowrap, flex-start, flex-start, 0.8em);
  }
  &__buttons {
    width: 100%;
    max-width: 400px;
    @include flex(row, nowrap, space-between, center, 1em);
  }
  &__select {
    width: 100%;
  }
  &__categorys {
    width: 100%;
    min-height: 3em;
    flex-grow: 1;
    height: calc(100vh - 546.77px);
    max-height: 250px;
    overflow: auto;
    border-radius: 1em;
    border: 2px solid #bdbdbd;
    position: absolute;
    top: 100%;
    z-index: 5;
    background: #fff;
  }
  &__li {
    cursor: pointer;
    width: 100%;
    padding: 1em;
    &:hover {
      background: $color-placeholder;
      font-weight: bold;
    }
  }
  &__numbers {
    @include flex(row, nowrap, space-between, center, 1em);
  }
  &__images {
    width: 100%;
    @include flex(row, nowrap, center, center, 1em);
  }
  &__image {
    position: relative;
    height: 8em;
    width: 8em;
    @include flex(row, nowrap, center, center, 1em);
  }
  &__img {
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__files {
    width: 100%;
    height: 100%;
    color: $color-placeholder;
  }
  &__file {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
  }
  &__loader {
    width: 100%;
    @include flex(row, nowrap, center, center, 1em);
  }
}
