.inputname {
  width: 100%;
  background: #fff;
  padding: 1.8em 1em;
  @include flex(row, nowrap, center, center, 0);
  &__container {
    border: 2px solid $color-yellow;
    @include flex(row, nowrap, space-between, center, 0);
    border-radius: 1em;
    width: 100%;
    max-width: 340px;
  }
  &__input {
    outline: none;
    border: none;
    padding: 0.5em;
    color: #000;
    width: calc(100% - 5em);
    &::placeholder {
      color: $color-placeholder;
    }
  }
  &__save {
    background: $color-yellow;
    padding: 1em 0.5em;
    width: 5em;
    border-radius: 0.8em;
    font-weight: bold;
    @include flex(row, nowrap, center, center, 0);
  }
  &__buttons {
    width: 100%;
    @include flex(row, nowrap, space-between, center, 0.5em);
  }
}
