.stats {
  width: 100%;
  height: calc(100vh - 2em);
  overflow: auto;
  @include flex(column, nowrap, flex-start, center, 2em);
  @include responsive(1350px) {
    padding: 0 1em;
  }
  @include responsive(750px) {
    align-items: flex-start;
  }
  &__register {
    width: 100%;
    max-width: 50em;
    @include flex(row, nowrap, center, flex-start, 2em);
    @include responsive(950px) {
      flex-direction: column;
      max-width: 100%;
    }
    @include responsive(750px) {
      flex-direction: column;
      max-width: 500px;
      justify-content: flex-start;
    }
    @include responsive(650px) {
      flex-direction: column;
      max-width: 450px;
      justify-content: flex-start;
    }
  }
  &__articles {
    width: 100%;
    @include flex(column, nowrap, center, flex-start, 2em);
  }
  &__section {
    width: 100%;
    @include flex(column, nowrap, center, flex-start, 0.5em);
  }
  &__title {
    font-size: 1.3em;
    font-weight: bold;
  }
  &__top {
    width: 100%;
    @include flex(column, nowrap, center, flex-start, 0.3em);
  }
  &__name {
    width: 100%;
    @include flex(row, nowrap, space-between, center, 0);
    font-weight: bold;
  }
  &__h4 {
  }
  &__p {
    font-size: 1.1em;
  }
  &__gray {
    width: 100%;
    height: 0.6em;
    background: #e0e0e0;
    position: relative;
    border-radius: 0.5em;
  }
  &__percentage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 0.5em;
    &--yellow {
      background: $color-yellow;
    }
    &--blue {
      background: $color-blue-button;
    }
  }
  &__graphs {
    width: 100%;
    height: 500px;
    @include flex(row, nowrap, center, center, 0);
    @include responsive(750px) {
      justify-content: flex-start;
    }
  }
  &__resume {
    width: 100%;
  }
  &__graphics {
    width: 100%;
    max-width: 800px;
    height: 100%;
    @include flex(column, nowrap, center, center, 2em);
    @include responsive(750px) {
      max-width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &__graph {
    width: 100%;
    // min-width: 300px;
    // max-width: 500px;
    display: flex;
    height: 300px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    @include responsive(750px) {
      // max-width: 400px;
    }
    &--container {
      position: absolute;
      width: calc(100% + 37px);
      left: -37px;
      top: 0;
      bottom: 0;
    }
  }
}
