.login {
  width: 100%;
  @include flex(row, nowrap, center, center, 0.5em);
  @include responsive(700px) {
    flex-direction: column;
  }
  &__landing {
    @include flex(column, nowrap, center, center, 0.4em);
  }
  &__h3 {
    font-size: 2em;
    font-weight: bold;
  }
  &__span {
    color: $color-yellow;
  }
  &__img {
    font-size: clamp(0.5em, 0.3em + 0.9vw, 1em);
  }
  &__image {
    object-fit: contain;
    mix-blend-mode: multiply;
    // width: 100%;
    // height: 100%;
    width: 31.25em;
    height: 31.25em;
    @include responsive(700px) {
    }
  }
  &__container {
    width: 100%;
    max-width: 270px;
    position: relative;
  }
  &__form {
    @include flex(column, nowrap, center, center, 0.8em);
  }
  &__err {
    color: $color-red;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 100%;
  }
}
